.box {
    position: relative;
}

.block {
    width: 200px;
    height: 200px;
    background: rgb(0, 41, 131);
}

.buton {
    position: absolute;
    top: 50px;
    
    z-index: 2; /* выше куба */
}

.block {
    position: relative;
    z-index: 1;
}

.me_application {
    position: absolute;
    color: #ffffff;
    top: 50px;
    left: 50px;
    z-index: 3; /* выше куба */
}

.me_application {
    font-size: 50px;
    top: 0px;
}

.buton {
    display: flex;
    height: 50px;
    margin-left: 200px;
    left: 300px;
    gap: 300px;
}

button {
    color: #ffffff;
    background-color: #005ed8;
    border-radius: 5px;
    font-size: 20px;
}

.block {
    width: 1900px;
}
    
.me_application {
    font-size: 70px;
}



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   /* вся ширина */
    height: 100vh;  /* вся высота */
    z-index: 0;
}

.box {
    position: relative;
    z-index: 1;
}

.bus-window {
    position: absolute;
    bottom: 10px;
    left: 500px;

    background: #3c90ff;
    padding: 10px;
    border-radius: 10px;

    display: none;
    z-index: 1000;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

#toggle:checked ~ #modal {
  display: block;
}

.modal-content {
  background: white;
  width: 250px;
  margin: 100px auto;
  padding: 20px;
}